#dominator/paging
# web/dominator/paging/ckeditor
# web/dominator/paging/ckfinder
web2/dominator/paging/ckeditor
web2/dominator/paging/ckfinder

#plug_in
# web/plug_in
# web/upload
web2/plug_in
web2/upload

DB/*.ipynb
DB/*.mdf
DB/*.ldf
*mp3
*mp4


弱掃報告
資通電軍(若掃)0107-v5
資通電軍(部屬)0116-v3
資通電軍1229
資通電軍0328