footer{
    position: relative;
    background: $primary-color;
}
.footer{
    width: 1168px;
    max-width: 90%;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 53px 0 52px;
    >li{
        > span{
            position: relative;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 1px;
            margin-bottom: 1em;
            display: inline-block;
            &::after{
                content: "";
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 100%;
                height: 2px;
                background: #fff;
            }
        }
        > ul{
            margin-top: 1.1em;
            > li{
                font-size: 16px;
                line-height: 1.2;
                font-weight: 300;
                margin-bottom: 1em;
                a{
                    position: relative;
                    display: inline-block;
                    transition: all 0.75s;
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0;
                        height: 1px;
                        background: #fff;
                        transition: width 0.75s ease;
                    }
                    &:hover {
                        display: inline-block;
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.info{
    width: 1168px;
    max-width: 90%;
    margin: 0 auto;
    font-size: 16px;    
    font-weight: 300;
    color: #fff;
    padding-bottom: 2.9em;
    >div {
        padding-bottom: 1em;
    }
}
.logIn{
    .footer{
        >li{
            &:nth-child(4){
                display: none;
            }
        }
    }
}