html, body, *{
    font-family: $font;
    font-weight: 400;
    margin: 0 auto;
    max-width: 1920px;
    &.loading {
        opacity: 1;
        visibility: visible;
    }
    .asj{
        opacity: 0;
    }
}
html{
    overflow-x: hidden;
    overflow-y: scroll;
}
.porel{
    position: relative;
}
.center{
    text-align: center;
}
.d-flex{
    display: flex;
    align-items: center;
}

//---------通用設定--------
::selection {
    background-color: $primary-color;
    color: white;
}
img {
    max-width: 100%;
}
.mo {
    display: none;
    @include mediaquery(null, 767px) {
        display: block;
    }
}
.pc {
    display: none;
    @include mediaquery(768px, null) {
        display: block;
    }
}
.ipad-m {
    display: none;
    @include mediaquery(null, 991px) {
        display: block;
    }
}
.ipad-p {
    display: none;
    @include mediaquery(992px, null) {
        display: block;
    }
}

// ---------- 內頁通吃 ------------

// 容器寬
.container{
    margin: 0 auto;
    max-width: 87.5%;
    width: $maxwidth;
}