$font: 'Roboto', 'Noto Sans TC', sans-serif;
$maxwidth: 1640px;
$headerH-pc: 85px;
$headerH-mo: 55px;
//----------- color ------------//

$primary-color: #0a1e3f;
$secondary-color: #fefefe;
$line-color: #de8492;
$footer-color: #dbb65c;

//----------- RWD break ------------//

$xxl:1440px;
$xl:1200px;
$lg:991px;
$md:769px;
$sm:576px;
$xs:480px