.page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    margin-bottom: 6em;
    dt,
    dd {
        vertical-align: baseline;
        display: inline-block;
        text-align: center;
        transition: all 0.75s ease;
        a {
            display: block;
            text-decoration: none;
            color: #999999;
            transition: all 0.75s ease;
            font-weight: 300;
            padding: 0 3px;
        }
    }
    dd {
        position: relative;
        cursor: pointer;
        margin: 0 5px 0 6px;
        @include mediaquery(768px, null) {
            &:hover{
                a{
                    color: $primary-color;
                    border-bottom: 1px solid $primary-color;
                }
            }
        }
    }
    dd.active {
        a{
            color: $primary-color;
            border-bottom: 1px solid $primary-color;
        }
    }

    dt.rtbn a,
    dt.ltbn a {
        width: 24px;
        height: 24px;
        margin: 0 auto;
        border-radius: 50%;
        transition: 0.75s ease;
        border: 1px solid $primary-color;
        @media (min-width: 768px) {
            &:hover {  
                background: $primary-color;
            }
        }
    }
    

    dt.ltbn a {
        margin-right: 10px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../images/p_arrow_l.png')  top 5px left 6px / 9px 12px no-repeat;
            transition: 0.5s ease;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../images/p_arrow_l_h.png')  top 5px left 6px / 9px 12px no-repeat;
            transition: 0.5s ease;
            opacity: 0;
        }
        @include mediaquery(768px, null){
            &:hover {  
                &::after {
                    opacity: 1;
                }
            }
        }        
    }

    dt.rtbn a {
        margin-left: 14px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../images/p_arrow_r.png')  top 5px right 6px / 9px 12px no-repeat;
            transition: 0.5s ease;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../images/p_arrow_r_h.png')  top 5px right 6px / 9px 12px no-repeat;
            transition: 0.5s ease;
            opacity: 0;
        }
        @include mediaquery(768px, null){
            &:hover {  
                &::after {
                    opacity: 1;
                }
            }
        }
        
    }
    @media (max-width: 767px) {
        text-align: center;
        justify-content: center;
        dt.ltbn a {
            margin-right: 25px;
        }
        dt.rtbn a {
            margin-left: 25px;
        }
    }
    
    .ltbn, .rtbn{
        &.nopage{
            opacity: 0.2;
            pointer-events: none;
        }
    }
}


