.page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include font-size(pxToRem(16),pxToRem(18));
    dt,
    dd {
        vertical-align: baseline;
        display: inline-block;
        text-align: center;
        transition: all 0.5s ease;
        a {
            display: block;
            text-decoration: none;
            color: #999999;
            transition: all 0.5s ease;
            font-weight: 600;
            padding: 0 7px 0 8px;
        }
    }
    dd {
        position: relative;
        cursor: pointer;
        margin: 0 6px;
        @include mediaquery(768px, null) {
            &:hover{
                a{
                    color: #d93731;
                }
            }
        }
    }
    dd.active {
        a{
            color: #d93731;
        }
    }

    dt.rtbn a,
    dt.ltbn a {
        width: 30px;
        height: 30px;
        margin: 0 auto;
        transition: 0.5s;
        background-color: #c83554;
        border-radius: 50%;
        transition: 0.5s ease;
        border: 1px solid transparent;
        @media (min-width: 768px) {
            &:hover {  
                border: 1px solid #c83554;
                background-color: #fff;
            }
        }
    }
    

    dt.ltbn a {
        margin-right: 32px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../images/page/page-l.png') center / 6px 10px no-repeat;
            transition: 0.5s ease;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../images/page/page-l-hover.png') center / 6px 10px no-repeat;
            transition: 0.5s ease;
            opacity: 0;
        }
        @include mediaquery(768px, null){
            &:hover {  
                &::after {
                    opacity: 1;
                }
            }
        }        
    }

    dt.rtbn a {
        margin-left: 32px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../images/page/page-r.png') center / 6px 10px no-repeat;
            transition: 0.5s ease;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../images/page/page-r-hover.png') center / 6px 10px no-repeat;
            transition: 0.5s ease;
            opacity: 0;
        }
        @include mediaquery(768px, null){
            &:hover {  
                &::after {
                    opacity: 1;
                }
            }
        }
        
    }
    @media (max-width: 767px) {
        text-align: center;
        justify-content: center;
        dt.ltbn a {
            margin-right: 25px;
        }
        dt.rtbn a {
            margin-left: 25px;
        }
    }
    
    .ltbn, .rtbn{
        &.nopage{
            opacity: 0.2;
            pointer-events: none;
        }
    }
}


