
.download{
    margin-top: 84px;
    @include mediaquery(1500px, null){
        margin-left: 2.9em;
    }
    @include mediaquery(768px, null){
        display: flex;
        margin-top: 120px;
    }
}
.download-img{
    flex: 0 0 310px;
    height: 437px;
    box-shadow: 0 0 20px 0 rgba(217,55,49,0.4);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include mediaquery(768px, 991px){
        flex: 0 0 248px;
        height: 349px;
    }
    @include mediaquery(null, 767px){
        width: 45.058%;
        padding-bottom: 63.2%;
        height: 0;
        margin: 0 auto 30px;
        box-shadow: 0 0 10px 0 rgba(217,55,49,0.4);
    }
}
.download-txt{
    width: 100%;
    @include mediaquery(768px, null){
        margin-top: 43px;
    }
    .t-box{
        >i{
            position: relative;
            display: block;
            border-bottom: 1px solid #c83554;
            margin: 0 auto;
            width: 100%;
            height: 1px;
            @include mediaquery(null, 767px){
                border-bottom: 1px solid #c83554;
            }
            i{
                position: absolute;
                z-index: 2;
                top: 50%;
                right: 0;
                transform: translate(50%, -50%);
                display: inline-block;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: #d73d53;
                @include mediaquery(null, 767px){
                    width: 8px;
                    height: 8px;
                }
                &::after{
                    content: "";
                    position: absolute;
                    z-index: -2;
                    width: 100%;
                    height: 100%;
                    top: 50%;
                    left: 50%;
                    border-radius: 50%;
                    transform: translate(-50%, -50%) scale(0);
                    background: #d73d53;
                    animation: idon 3s ease infinite;
                }
                &::before{
                    content: "";
                    position: absolute;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    top: 50%;
                    left: 50%;
                    border-radius: 50%;
                    transform: translate(-50%, -50%) scale(0);
                    background: #d73d53;
                    animation: idon 3s ease 1.5s infinite;
                }
            }
        }
    }
    .title-box{
        margin-bottom: 1.8em;
        @include mediaquery(1201px, null){
            display: flex;
            align-items: center;
        }
        @include mediaquery(null, 1200px){
            text-align: center;
        }
        .title{
            display: inline-block;
            font-family: $font-tw;
            margin-left: 5em;
            @include mediaquery(null, 1350px){
                margin-left: 2em;
            }
            @include mediaquery(null, 767px){
                margin-bottom: 1.05em;
                margin-left: 0em;
            }
        }
        .s-btn{
            position: relative;
            z-index: 2;
            bottom: auto;
            left: auto;
            transform: none;
            width: 200px;
            height: 60px;
            border-radius: 30px;
            line-height: 63px;
            margin-left: 4.2em;
            font-weight: 500;
            @include font-size(pxToRem(18),pxToRem(18));
            @include mediaquery(768px, 1350px){
                margin-left: 1em;
            }
            @include mediaquery(null, 767px){
                width: 170px;
                height: 51px;
                border-radius: 25px;
                line-height: 52px;
                margin-left: 0;
            }
            &::after{
                top: 0px;
                left: 0px;
                border-radius: 30px;
            }
            &::before{
                top: 2px;
                left: 2px;
                border-radius: 30px;
                width: 196px;
                height: 56px;
            }
        }
    }
}
.download-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5.25em;
    margin-top: 2.45em;
    @include mediaquery(null, 1350px){
        margin-left: 2em;
    }    
    @include mediaquery(null, 767px){
        margin-top: 1.3em;
        margin-left: 0em;
    }
    li{
        position: relative;
        color: #333;
        margin-left: 1.6em;
        margin-bottom: 0.76em;
        width: 100%;
        letter-spacing: -0.2px;
        transition: all 0.5s ease;
        cursor: pointer;
        @include font-size(pxToRem(20),pxToRem(20));
        @include mediaquery(992px, null){
            padding-right: 1em;
            width: calc(49.1% - 1.6em);
            &:nth-child(2n){
                padding-right: 0em;
                flex: 1;
            }
        }
        @include mediaquery(768px, null){
            &:hover{
                color: $primary-color;
                &::before{
                    background: $primary-color;
                }
            }
        }
        @include mediaquery(null, 767px){
            margin-left: 1.3em;
            margin-bottom: 0.515em;
        }
        &::before{
            content: "";
            position: absolute;
            top: 8px;
            left: -1.6em;
            width: 14px;
            height: 14px;
            border: 3px solid $primary-color;
            border-radius: 50%;
            transition: all 0.5s ease;
            @include mediaquery(null, 767px){
                width: 13px;
                height: 13px;
                left: -1.3em;
            }
        }
    }
}




//---------------------

.download-w{
    margin-bottom: 4.4em;
    @include mediaquery(1500px, null){
        margin-left: 0em;
    }
    @include mediaquery(768px, null){
        margin-top: 70px;
    }
    @include mediaquery(null, 767px){
        margin-bottom: 3em;
        margin-top: 50px;
    }
}
.report{
    ul{
        display: flex;
        flex-wrap: wrap;
    }
    li{
        margin-top: 2.25em;
        padding-bottom: 2.25em;
        @include mediaquery(null, 767px){
            margin: 1.25em 0 ;
            padding-bottom: 2.25em;
        }
        @include mediaquery(1201px, null){
            width: calc((100% - 240px) / 3);
            margin-right: 120px;
            &:nth-child(3n){
                margin-right: 0;
            }
        }
        @include mediaquery(992px, 1200px){
            width: calc((100% - 100px) / 3);
            margin-right: 50px;
            &:nth-child(3n){
                margin-right: 0;
            }
        }
        @include mediaquery(576px, 991px){
            width: calc((100% - 50px) / 2);
            margin-right: 50px;
            &:nth-child(2n){
                margin-right: 0;
            }
        }
        @include mediaquery(null, 575px){
            width: calc((100% - 20px) / 2);
            margin-right: 20px;
            &:nth-child(2n){
                margin-right: 0;
            }
        }
    }
    .s-title{
        color: #d93731;
        font-weight: bold;
        @include font-size(pxToRem(22),pxToRem(24));
    }
    .report-title{
        color: #333;
        margin-bottom: 0.65em;
        @include font-size(pxToRem(18),pxToRem(20));
        @include mediaquery(null, 991px){
            margin-bottom: 0.5em;
        }
    }
    .download-btn{
        position: relative;
        display: inline-flex;
        align-items: center;
        border:none;
        border-radius: 20px;
        background: linear-gradient(to right, #d21e2d, #f83765);
        width: 100px;
        padding: 12px 20px;
        text-align: left;
        @include mediaquery(null, 767px){
            padding: 8px 20px;
        }
        @include mediaquery(768px, null) {
            &:hover{
                &::before{
                    opacity: 1;
                }
                span{
                    color: #d93731;
                }
                i::after{
                    opacity: 1;
                }
            }
        }
        &::before{
            content:"";
            position: absolute;
            top: 1px;
            left: 1px;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            background: #fff;
            border-radius: 20px;
            opacity: 0;
            transition: all 0.5s ease;
        }
        span{
            position: relative;
            color: #fff;
            transition: all 0.5s ease;
        }
        i{
            position: relative;
            display: inline-block;
            margin-left: 1em;
            width: 6px;
            height: 12px;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('../images/page/download.png') center / contain no-repeat;
            }
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('../images/page/download-h.png') center / contain no-repeat;
                opacity: 0;
                transition: all 0.5s ease;
            }
        }
    }
}
.report-img{
    margin-bottom: 1.4em;
    @include mediaquery(null, 991px){
        margin-bottom: 0.5em;
    }
    img{
        display: block;
        box-shadow: 0 0 20px 0 rgba(217,55,49,0.4);
        @include mediaquery(null, 767px){
            box-shadow: 0 0 10px 0 rgba(217,55,49,0.4);
        }
    }
}